<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Home</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="{{url_for('static', filename='/img/logo.png')}}" type="image/x-icon">
</head>
<body id="home">
   
    <div class="botoes">
        <a href="/criar_personagem">Criar Novo Personagem</a>
    </div>
    
      <!-- Seção de "Minhas Criações" -->
      <section class="my-creations">
        <h2>Minhas Criações</h2>
        <div class="cards-container">
          <!-- Card de projeto musical -->
          {% for personagem in personagens %}
          <div class="botoes">
            <a href="/personagens/editar/{{ personagem[0] }}"> Editar</a>
          </div>

          <div class="card">
            {% if personagem[2] == 1 %}
              <img src="{{ url_for('static', filename='img/rosto1.png') }}" class="cover" alt="Imagem">
            {% elif personagem[2] == 2 %}
              <img src="{{ url_for('static', filename='img/rosto2.png') }}" class="cover" alt="Imagem">
            {% elif personagem[2] == 3 %}
              <img src="{{ url_for('static', filename='img/rosto3.png') }}" class="cover" alt="Imagem">
            {% elif personagem[2] == 4 %}
              <img src="{{ url_for('static', filename='img/rosto4.png') }}" class="cover" alt="Imagem">
            {% elif personagem[2] == 5 %}
              <img src="{{ url_for('static', filename='img/rosto5.png') }}" class="cover" alt="Imagem">
            {% elif personagem[2] == 6 %}
              <img src="{{ url_for('static', filename='img/rosto6.png') }}" class="cover" alt="Imagem">
            {% elif personagem[2] == 7 %}
              <img src="{{ url_for('static', filename='img/rosto7.png') }}" class="cover" alt="Imagem">
            {% endif %}
            

            <button type="submit" class="deletar" onclick="window.location.href='/personagens/excluir/{{ personagem[0] }}'">🗑️</button>

            <div class="card-content">
              <p>Nome: {{personagem[1]}}</p>
             
            </div>

          </div>
          {% endfor  %}
          
        </div>
      </section>
      <div class="excluir_usuario"> <input type="button" onclick="window.location.href='/excluir_usuario'" value="Excluir usuário">
        <input type="button" onclick="window.location.href='/loggout'" value="loggout">
          
</body>

</html>